<div class="xupdatemaster">
<h1><{$smarty.const._MD_XUPDATEMASTER_LANG_STORE_EDIT}></h1>
<{if $actionForm->hasError()}>
  <ul class="error">
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
<{/if}>
<form action="<{xoops_cooluri dirname=$dirname dataname=store action=edit}>" method="post">
  <dl class="edit">

  <{xoops_input type=hidden name=store_id value=$actionForm->get('store_id')}>

  <dt class="required"><{$smarty.const._MD_XUPDATEMASTER_LANG_TITLE}></dt>
  <dd><{xoops_input type=text name=title value=$actionForm->get('title') size=40 maxlength=255 class="required"}></dd>

  <dt class="required"><{$smarty.const._MD_XUPDATEMASTER_LANG_CONTENTS}></dt>
  <dd>
      <input type="radio" name="contents" value="0"<{$contents_checked[0]}>><{$object->contents_name[0]}>
    | <input type="radio" name="contents" value="1"<{$contents_checked[1]}>><{$object->contents_name[1]}>
    | <input type="radio" name="contents" value="2"<{$contents_checked[2]}>><{$object->contents_name[2]}>
    | <input type="radio" name="contents" value="4"<{$contents_checked[4]}>><{$object->contents_name[4]}>
    | <input type="radio" name="contents" value="3"<{$contents_checked[3]}>><{$object->contents_name[3]}>
  </dd>

  <dt class="required"><{$smarty.const._MD_XUPDATEMASTER_LANG_ADDON_URL}></dt>
  <dd><{xoops_input type=text name=addon_url value=$actionForm->get('addon_url') size=100 maxlength=255 class="required"}></dd>

    <dt></dt>
    <dd>
      <{xoops_token form=$actionForm}>
      <input type="submit" value="<{$smarty.const._SUBMIT}>" />
      <input type="submit" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel" />
    </dd>
  </dl>
</form>
</div>
