<div class="xupdatemaster">
<h1><{$smarty.const._MD_XUPDATEMASTER_LANG_STORE}><{$smarty.const._VIEW}></h1>
<dl class="view">
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_STORE_ID}></dt>
  <dd><{$object->getShow('store_id')}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_TITLE}></dt>
  <dd><{$object->getShow('title')}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_CONTENTS}></dt>
  <dd><{$object->getContentsName()}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_ADDON_URL}></dt>
  <dd><{$object->getShow('addon_url')}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

</dl>

<{if count($item) > 0}>
<div style="clear:both; font-size:14px;">
  <{if $isAdmin}>
  <form action="<{xoops_cooluri dirname=$dirname dataname=store action=view}>" method="post">
  <{/if}>
  <table class="outer" summary="">
    <thead>
      <tr>
        <th>
          <{$smarty.const._MD_XUPDATEMASTER_LANG_TITLE}>
        </th>
        <th>
          <{$smarty.const._MD_XUPDATEMASTER_LANG_ADDON_URL}>
        </th>
        <th>
          <{$smarty.const._MD_XUPDATEMASTER_LANG_CATEGORY_ID}>
        </th>
        <th>
          OK
        </th>
      </tr>
    </thead>
    <tbody>
      <{foreach item=obj from=$item}>
        <tr class="<{cycle values='odd,even'}>">
          <td><{$obj->getShow('title')}></td>
          <td><a href="<{$obj->getShow('addon_url')|replace:'%s':$obj->getShow('target_key')}>"><span class="url"><{$obj->getShow('addon_url')|replace:'%s':$obj->getShow('target_key')}></span></a></td>
          <{if !$isPackage}>
          <td><{if $isAdmin}><select style="max-width:10em;" name="category_id_<{$obj->getShow('item_id')}>"><{legacy_category_select tree=$accessController->getTree('post') selectedValue=$obj->getShow('category_id')}></select><{else}><{$accessController->getTitle($obj->getShow('category_id'))}><{/if}></td>
          <td><{if $isAdmin}><input type="checkbox" name="approval[]" value="<{$obj->getShow('item_id')}>"<{if $obj->getShow('approval')}> checked="checked"<{/if}>><{else}><{$obj->getShow('approval')}><{/if}></td>
          <{else}>
          <td> - </td><td> - </td>
          <{/if}>
          
        </tr>
      <{/foreach}>
      <{if $isAdmin && !$isPackage}>
        <tr class="<{cycle values='odd,even'}>">
          <td colspan="2"> </td>
          <td colspan="2"><input type="submit" value="<{$smarty.const._SUBMIT}>" /></td>
        </tr>
      <{/if}>
    </tbody>
  </table>
  <{if $isAdmin}>
  <input type="hidden" name="<{$smarty.const._REQUESTED_DATA_ID}>" value="<{$object->getShow('store_id')}>" />
  </form>
  <{/if}>
</div>
<{/if}>

</div>
