<div class="xupdatemaster">
<h1><{$smarty.const._MD_XUPDATEMASTER_LANG_ITEM}><{$smarty.const._VIEW}></h1>
<dl class="view">
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_ITEM_ID}></dt>
  <dd><{$object->getShow('item_id')}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_TITLE}></dt>
  <dd><{$object->getShow('title')}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_UID}></dt>
  <dd><{$object->getShow('uid')|xoops_user:user_name}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_CATEGORY_ID}></dt>
  <dd><{$mainTitle|xoops_escape}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_TARGET_KEY}></dt>
  <dd><{$object->getShow('target_key')}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

    <!-- tag -->
    <{if count($object->mTag)>0}>
    <dt class="tagList"><{$smarty.const._TAG}>: </dt>
    <dd class="tagList">
    <{foreach item=tag from=$object->mTag}>
     <{assign var=tagurl value=$tag|xoops_escape:url}>
      <span><a href="<{xoops_cooluri dirname=$dirname dataname=$dataname query="tag=`$tag`"}>"><{$tag|xoops_escape}></a></span> 
    <{/foreach}>
    <{/if}>
</dl>
</div>
