<div class="xupdatemaster">
<h1><{$smarty.const._MD_XUPDATEMASTER_LANG_STORE}><{$smarty.const._VIEW}></h1>
<dl class="view">
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_STORE_ID}></dt>
  <dd><{$object->getShow('store_id')}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_TITLE}></dt>
  <dd><{$object->getShow('title')}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_CONTENTS}></dt>
  <dd><{$object->getShow('contents')}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_ADDON_URL}></dt>
  <dd><{$object->getShow('addon_url')}></dd>
  <dt><{$smarty.const._MD_XUPDATEMASTER_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

</dl>
</div>
